h2 {
    margin: 5px;
}

th, td {
    color: white;
    padding: 5px;
    text-align: center;
}

.cabecalho-moda {
    background-color: #bb86fc;
}

.cabecalho-casa {
    background-color: #00C4B4;
}

.valores-tabela {
    background-color: #424250;
}